<!DOCTYPE html>
<html lang="en">

<head>
    <title>Note management</title>
    <meta charset="UTF-8">
    <script src="/lib/browser.min.js"></script>
    <script src="/lib/react.js"></script>
    <script src="/lib/react.min.js"></script>
    <script src="/lib/react-dom.min.js"></script>
    <script src="/lib/history.min.js"></script>
    <script src="/lib/jquery321.js"></script>
    <link rel="stylesheet" href="layout.css"  />
</head>

<body>
    <div id="root"> </div>

    <script type="text/babel" src="app.js"></script>
</body>

</html>